<div>
  <h3><%= @survey.title %></h3>
  <ul>
    <% @questions.each_with_index do |question, index| %>
      <li>
        <a href="questions/<%= question.id %>"><%= question.body %></a>
      </li>
    <% end %>
  </ul>
</div>

<% if @errors %>
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>
