<div>
  <h3><%= @survey.title %></h3>
  <ul>
    <% @questions.each do |question| %>
      <li>
        <p><%= question.body %></p>
        <form method="GET" action="/answers/new">
          <input type="hidden" name="question_id"value="<%= question.id %>"/>

          <input type="submit" value="Answer Question"/>
        </form>
      </li>
    <% end %>
  </ul>
</div>

<a href="/surveys/<%= @survey.id %>">Complete Survey</a>
