<h4><%= @question.body %></h4>
<form method="GET" action="/choices/new">
  <input type="hidden" name="survey_id" value="<%= @survey.id %>"/>
  <input type="hidden" name="question_id" value="<%= @question.id %>"/>

  <input type="submit" value="Add a Choice"/>
</form>
<ul>
  <% @question.choices.each do |choice| %>
    <li><%= choice.value %></li>
  <% end %>
</ul>
