<div>
  <h3>New Choice</h3>
  <form method="POST" action="/choices">
    <label for="choice-value">Choice</label>
    <input id="choice-value" type="text" placeholder="choice" name="choice[value]" autofocus="autofocus"/>

    <input type="hidden" name="survey_id" value="<%= @survey.id %>"/>
    <input type="hidden" name="question_id" value="<%= @question.id %>"/>

    <input type="submit" value="Add choice to question"/>
  </form>
</div>

<% if @errors %>
  <ul>
    <% @errors.each do |errors| %>
      <li><%= errors %></li>
    <% end %>
  </ul>
<% end %>
