<div>
  <form method="POST" action="/choices">
    <label for="choice-value">Choice</label>
    <input id="choice-value" type="text" placeholder="choice"/>

    <input type="submit" value="Finish question"/>
  </form>
</div>
