<form action="/questions/new" method="post">
  Title: <input type="text" name="survey[title]"><br>
  Description: <input type="text" name="survey[description]"><br>
  <input type="submit" value="Make questions">
</form>