<h1><%= @survey.title %></h1>
<p><%= @survey.description %></p>
<h2>Poll questions:</h2>
<form method="GET" action="/questions/<%=@survey.questions.first.id%>">
  <input type="hidden" name="survey_id"value="<%= @survey.id %>"/>
  <input type="submit" value="Begin Survey"/>
</form>
