<div>
<%=erb :"users/_login_or_register_partial"%>
</div>

<div>
  <% if @errors %>
    <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
<div>